.father{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.cardsHolder{
    width: 88%;
    height: 500px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.card{
    width: 20%;
    height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.iconHolder{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2Holder{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pHolder{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 20px;
}
.buttonHolder{
    width: 100%;
    height: 20%;
}
.pHolder, .buttonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: justify;
    font-size: 15px;
}
button{
    width: 40%;
    height: 50px;
    background-color: green;
    font-size: 20px;
}